---
import SectionHeader from './SectionHeader.astro';
import GameModal from './GameModal.tsx';
import SpotifyPlayer from './SpotifyPlayer.tsx';
---

<section class="fade-on-scroll pb-20">
  <SectionHeader title="downtime" />
  <div class="grid md:grid-cols-2 gap-12">
    <div>
      <GameModal client:load />
    </div>
    <div>
      <SpotifyPlayer client:visible />
    </div>
  </div>
</section>
