---
const tildes = Array.from({ length: 50 }, () => '~');
---

<div
  class="hidden md:flex fixed left-0 top-0 bottom-[32px] flex-col gap-6 pt-16 w-8 text-center select-none z-0"
  style="color: var(--gutter-color); font-family: 'JetBrains Mono', monospace;"
  aria-hidden="true"
>
  {tildes.map((t) => <div>{t}</div>)}
</div>
